body{
    font-size: 16px;
    margin: 0;
}

.article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
    grid-auto-flow: column;
}

.box-img img {
    max-width: 200px;
    max-height: 150px;
    margin: 0 auto;
    transition: transform 0.5s ease;
}