@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


body{
    background-color: #192c63 !important;
    color: #fff !important;
    font-family: 'Mukta', sans-serif !important;
}

.img{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5) !important;
}

.menu-navbar:hover{
    color: red !important;
    text-shadow: 1px 2px 3px #fff;
    transition: 0.5s;
}

.btn:hover{
    background-color: blue !important;
    box-shadow: 1px 2px 3px #fff;
    transition: 0.5s;
}

/*--- Header Section ---*/

.header .navbar .logo img{
    width: 15vw !important;
}

.header .navbar .menu-navbar{
    width: 40vw;
    display: flex;
    justify-content: space-around !important;
    list-style: none;
}

.header .navbar .menu-navbar li a{
    text-decoration: none;
    color: white;
}

/* ---- Main Section ---- */

.main-content{
    margin: 2px;
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 2rem;
    align-items: center;
}

.main-content .img-container img{
    width: 30vw;
    align-items: center;
}



